In [1]:
import pandas as pd

In [2]:
from pandas_datareader import data

In [12]:
companies = ["MSFT" , "GOOG" , "AAPL" , "YHOO" , "AMZN"]

In [20]:
data.DataReader(name=companies, data_source = "yahoo" , start= 2018-1-1,end = 2020-1-1)

Attributes  Adj Close                                                 Close  \
Symbols          MSFT         GOOG        AAPL         AMZN YHOO       MSFT
Date
2015-12-31  51.024227   758.880005   98.129669   675.890015  NaN  55.480000
2016-01-04  50.398834   741.840027   98.213585   636.989990  NaN  54.799999
2016-01-05  50.628761   742.580017   95.752419   633.789978  NaN  55.049999
2016-01-06  49.709072   743.619995   93.878586   632.650024  NaN  54.049999
2016-01-07  47.980057   726.390015   89.916473   607.940002  NaN  52.169998
...               ...          ...         ...          ...  ...        ...
2017-12-22  82.604538  1060.119995  169.466919  1168.359985  NaN  85.510002
2017-12-26  82.498283  1056.739990  165.167572  1176.760010  NaN  85.400002
2017-12-27  82.797745  1049.369995  165.196625  1182.260010  NaN  85.709999
2017-12-28  82.807411  1048.140015  165.661407  1186.099976  NaN  85.720001
2017-12-29  82.633545  1046.400024  163.869995  1169.469971  NaN  85.540001

Attributes                                             ...       Open  \
Symbols            GOOG        AAPL         AMZN YHOO  ...       MSFT
Date                                                   ...
2015-12-31   758.880005  105.260002   675.890015  NaN  ...  56.040001
2016-01-04   741.840027  105.349998   636.989990  NaN  ...  54.320000
2016-01-05   742.580017  102.709999   633.789978  NaN  ...  54.930000
2016-01-06   743.619995  100.699997   632.650024  NaN  ...  54.320000
2016-01-07   726.390015   96.449997   607.940002  NaN  ...  52.700001
...                 ...         ...          ...  ...  ...        ...
2017-12-22  1060.119995  175.009995  1168.359985  NaN  ...  85.400002
2017-12-26  1056.739990  170.570007  1176.760010  NaN  ...  85.309998
2017-12-27  1049.369995  170.600006  1182.260010  NaN  ...  85.650002
2017-12-28  1048.140015  171.080002  1186.099976  NaN  ...  85.900002
2017-12-29  1046.400024  169.229996  1169.469971  NaN  ...  85.629997

Attributes                                                 Volume             \
Symbols            GOOG        AAPL         AMZN YHOO        MSFT       GOOG
Date
2015-12-31   769.500000  107.010002   686.080017  NaN  27334100.0  1500900.0
2016-01-04   743.000000  102.610001   656.289978  NaN  53778000.0  3272800.0
2016-01-05   746.450012  105.750000   646.859985  NaN  34079700.0  1950700.0
2016-01-06   730.000000  100.559998   622.000000  NaN  39518900.0  1947000.0
2016-01-07   730.309998   98.680000   621.799988  NaN  56564900.0  2963700.0
...                 ...         ...          ...  ...         ...        ...
2017-12-22  1061.109985  174.679993  1172.079956  NaN  14145800.0   755100.0
2017-12-26  1058.069946  170.800003  1168.359985  NaN   9891200.0   760600.0
2017-12-27  1057.390015  170.100006  1179.910034  NaN  14678000.0  1271900.0
2017-12-28  1051.599976  171.000000  1189.000000  NaN  10594300.0   837100.0
2017-12-29  1046.719971  170.520004  1182.349976  NaN  18717400.0   887500.0

Attributes
Symbols           AAPL       AMZN YHOO
Date
2015-12-31  40912300.0  3749600.0  NaN
2016-01-04  67649400.0  9314500.0  NaN
2016-01-05  55791000.0  5822600.0  NaN
2016-01-06  68457400.0  5329200.0  NaN
2016-01-07  81094400.0  7074900.0  NaN
...                ...        ...  ...
2017-12-22  16349400.0  1585100.0  NaN
2017-12-26  33185500.0  2005200.0  NaN
2017-12-27  21498200.0  1867200.0  NaN
2017-12-28  16480200.0  1841700.0  NaN
2017-12-29  25999900.0  2688400.0  NaN

[504 rows x 30 columns]

In [26]:
p=p.unstack()

In [14]:
type(p)

pandas.core.frame.DataFrame

In [21]:
p.shape

(504, 30)

In [23]:
open=p["Open"]

In [24]:
open.index

DatetimeIndex(['2015-12-31', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08', '2016-01-11', '2016-01-12',
               '2016-01-13', '2016-01-14',
               ...
               '2017-12-15', '2017-12-18', '2017-12-19', '2017-12-20',
               '2017-12-21', '2017-12-22', '2017-12-26', '2017-12-27',
               '2017-12-28', '2017-12-29'],
              dtype='datetime64[ns]', name='Date', length=504, freq=None)